/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais do corpo da página */
body {
  margin: 0 auto;
  text-align: center;
  background-color: #b4c0d9;
  color: #353a40;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos da área principal */
main {
  flex: 1;
}

/* Estilos do cabeçalho */
header #cabecalhoDiv {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #d9d6a9;
}

/* Estilos da imagem no cabeçalho */
header img {
  max-width: 2.5rem;
}

/* Estilos do título no cabeçalho */
header h1 {
  margin-left: 1rem;
}

/* Estilos do formulário de cadastro */
#cadastro {
  background-color: #ffffffce;
  max-width: 30rem;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 0.8rem;
}

/* Estilos do título do formulário de cadastro */
#cadastro h2 {
  text-transform: uppercase;
}

/* Estilos do formulário em si */
form {
  margin-top: 1rem;
  text-align: left;
}

/* Estilos das etiquetas do formulário */
form label {
  font-weight: 600;
  /* margin-top: -10px; */
}

form input {
  margin-bottom: 1rem;
}

/* Estilos do botão de cadastrar */
button {
  display: block;
  margin: 1.7rem auto;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.8rem;
  border: none;
  background-color: #c5fcbff3;
  text-transform: uppercase;
}

/* Estilos do botão ao passar o mouse sobre ele */
button:hover {
  background-color: #85f277;
  cursor: pointer;
}

/* Estilos da mensagem final após o cadastro */
#cadastro #msgFinal {
  background-color: #767d8573;
  border-radius: 0.8rem;
  padding: 1rem;
  display: none;
}

/* Estilos do título e parágrafos na mensagem final */
#cadastro #msgFinal h3 {
  color: #15a002;
  margin-top: 1rem;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 1.4rem;
}

#cadastro #msgFinal p {
  color: #000000;
  text-align: left;
  padding: 0.2rem;
  font-size: 1.1rem;
}

/* Estilo para mensagens de erro do jQuery Validation */
label.error {
  color: red;
  margin-top: -0.7rem;
  display: block;
}

/* Estilo para o campo com erro */
input.error {
  border: 1px solid red;
}

/* Estilos do rodapé */
footer {
  margin-top: auto;
  background-color: #d9d6a9;
  padding: 1rem;
  font-size: 1.1rem;
}
